.s-input {
  position: relative;
  max-width: 580px;
  width: 540px;
  /* height: 300px; */
  border-radius: 25px;
  border: 1px solid #dedede;
}

.s-input input {
  width: 100% !important;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 2px 20px;

}



.s-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}